<!doctype html>
<!--
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to
  describe what people can do if an error comes up, etc...

-->
<html>

<head>
  <title>Psychology Study - Informed Consent Form</title>
  <link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
  <link rel=stylesheet href="/static/css/style.css" type="text/css">
  <script type="text/javascript">
    function onexit() {
      self.close(); // no harm, no foul here
    }
  </script>
</head>

<body>
    <div id="consent">
      <h4>IRB Protocol #AAAI1488</h4>
      <h4>Principal Investigator: Dr. Daphna Shohamy</h4>
      <h3>Behavioral Studies of Learning, Memory and Decision Making Informed Consent Form</h3>
      <hr>
      <div class="legal well">
        <p>
          We invite you to participate in a research study investigating learning, memory and decision making. In this study, you will play computer games, answer questionnaires and/or take standardized cognitive tests.
        </p>
        <h3>Confidentiality</h3>
        <p>
          Your participation in this study will remain confidential. However, the following individuals and/or agencies will be able to look at, copy, use, and share your research information:
          <ul>
            <li>The investigator, Columbia University Medical Center, and other medical professionals who may be evaluating the study</li>
            <li>Authorities from Columbia University, including the Institutional Review Board ('IRB')</li>
            <li>The Federal Office of Human Research Protections ('OHRP')</li>
            <li>The National Institute of Health ('NIH') & the National Science Foundation ('NSF')</li>
          </ul>
        </p>
        <p>Data will be collected, analyzed and stored with an alphanumeric code and never kept with any information that could be used to identify participants. All documents with identifying information will be kept separate from study data in a locked file cabinet or password protected electronic files.</p>
        <p>Your authorization to use and share the information collected for this research purpose does not have an expiration (ending) date.</p>
        <p>Your Amazon Mechanical Turk (Mturk) worker ID (i.e., the 14-character sequence of letters and numbers used to identify workers) will be kept separate from study data in a password protected electronic file.</p>
        
        <h3>Certificate of Confidentiality</h3>
        <p>This research is covered by a Certificate of Confidentiality from the National Institutes of Health. This means that the researchers cannot release or use information, documents, or samples that may identify you in any action or suit unless you say it is okay. They also cannot provide them as evidence unless you have agreed. This protection includes federal, state, or local civil, criminal, administrative, legislative, or other proceedings. An example would be a court subpoena.</p>
        <p>There are some important things that you need to know. The Certificate DOES NOT stop reporting that federal, state or local laws require. Some examples are laws that require reporting of child or elder abuse, some communicable diseases, and threats to harm yourself or others. The Certificate CANNOT BE USED to stop a sponsoring United States federal or state government agency from checking records or evaluating programs. The Certificate DOES NOT stop disclosures required by the federal Food and Drug Administration (FDA). The Certificate also DOES NOT prevent your information from being used for other research if allowed by federal regulations.</p>
        <p>Researchers may release information about you when you say it is okay. For example, you may give them permission to release information to insurers, medical providers or any other persons not connected with the research. The Certificate of Confidentiality does not stop you from willingly releasing information about your involvement in this research. It also does not prevent you from having access to your own information.</p>
        <p><b>Data Sharing</b> A de-identified dataset will be prepared for public sharing in a data repository. The de-identified data can be discovered and used by other researchers and any member of the public for any reason. The purpose of sharing the data publicly is to promote the transparency of research and reduce the costs associated with future research. For more information, please see the Data Sharing Information Sheet.</p>
        
        <h3>Risks and Benefits</h3>
        <p>There are no personal benefits to completing this study. However, possible broader benefits may be that you will contribute to a greater understanding of underlining cognitive processes in learning, memory and decision making.</p>
        <p>There is a risk of loss of private information; this risk always exists, but there are procedures in place to minimize the risk.</p>

        <h3>Compensation</h3>
        <p>If you agree to take part in this research study, we will pay you for completion of the task at the posted rate on Amazon Mechanical Turk. Payment will be given upon verification that the survey was completed and response accuracy verified. This will occur as soon as possible, dependent upon availability of a member of our research staff, this may take up to 72 hours for both verification and payment through Amazon.</p>
        <p>Tax law may require the Columbia University Finance Department to report the amount of payment you receive from Columbia University to the Internal Revenue Service (IRS) or other agencies, as applicable. Generally, this reporting would take place if you receive payments that equal $600 or more from Columbia University in a calendar year. You would be responsible for the payment of any tax that may be due. You will be paid for your participation at the posted rate.</p>

        <h3>Contact Information</h3>
        <p>Taking part in this study is your choice. You can decide not to take part in or stop being in the study at any time for any reason (even after you agree to this consent form). However, even if you revoke (take back) this consent and authorization, the researchers may continue to use and disclose the information they have already collected.</p>
        <p>If you have any questions or concerns about this study, please contact any member of the research team, including the Principal Investigator, Dr. Daphna Shohamy (212-854-7560).</p>
        <p>If at any time you have questions or concerns about your rights or welfare as a research subject, please contact the Columbia University &#8212; Morningside Institutional Review Board. The Institutional Review Board is a committee organized to protect the rights and welfare of human subjects involved in research and operates independent of the research team.</p>
        <p>Columbia University &#8212; Morningside Institutional Review Board<br>
        615 West 131st Street<br>
        212-851-7040</p>

        <p>Mental Health Resources<br>
          Your participation in this study will not include psychological counseling. In the event you seek such services, please contact one of the centers below:</p>

        <p>National Hopeline Network: 1-800-784-2433</p>
        <p>National Suicide Prevention Lifeline: 1-800-273-8255</p>
        <p>Behavioral Health Treatment Services Locator: <a  href="https://findtreatment.samhsa.gov/">https://findtreatment.samhsa.gov/</a></p>
        
      </div>

      <hr>
      <h4>If you agree to participate, please proceed to the survey or task</h4>
      <br>

      <center>
        <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/templates/exp1.html' + window.location.search">
          <span class="glyphicon glyphicon-ok"></span> Continue
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
          <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
        </button>
      </center>

    </div>
</body>

</html>
